[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
flake8 = "*"
mock = "*"
pytest-mock = "*"
pytest = "==5.*"


[packages]
pymongo = "==3.*"
pytelegrambotapi = "==3.*"
requests = "==2.*"
sentry-sdk = "==0.*"
trackingmore = "==0.*"
coverage = "==4.*"
aiogram = "*"
motor = "*"
aiohttp = "*"
flask = "*"
click = "*"
rich = "*"

[requires]
python_version = "3.7"
